.big-photo {
  width: 100%;
  height: 740px;
  position: relative;
  margin-top: 80px;
}

.big-photo .photocredit {
  position: absolute;
  bottom: 200px;
  text-align: right;
}

.photo-caption {
  background: rgba(250, 87, 92, 0.9);
  padding: 40px 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.photo-caption p {
  color: rgb(255, 255, 255);
  width: 50%;
  max-width: 600px;
  min-width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 22px;
}

#intro-photo {
  /*background:url(../../img/back.jpg) center top / cover scroll no-repeat;*/

  background: url(../img/opportunites-section.jpg) center top / cover scroll no-repeat;
  /*  -webkit-filter: grayscale(100%); filter: grayscale(100%)*/

}

.accessibility-button {
  position: fixed;
  top: 10px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.accessibility-button i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.accessibility-button:hover {
  background: rgba(0, 0, 0, 0.9);
}

.accessibility-button:hover i {
  color: #fff;
  top: 5px;
}

.bottom-cloud {
  position: relative;
  bottom: -250px;
  width: 100%;
  transition: opacity 0.5s;
}

.bottom-cloud img {
  position: absolute;
  bottom: 0;
  width: 100%;

}

.scroll-fade-content {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.scroll-fade-content.fade-in {
  opacity: 1;
  transform: translateY(0);
}



#mainNav {
  min-height: 56px;
  background-color: #FA575C;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #fff;
  border: 1px solid #fff;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;


  }

  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }

  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.9);
  }

  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  #mainNav .nav-link:active {
    color: white;
  }

  #mainNav.navbar-shrink {
    background-color: #FA575C;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #fff;
  }

  #mainNav.navbar-shrink .nav-link {
    color: #fff;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }

  #mainNav.navbar-shrink .nav-link:hover {
    color: #fff;
  }

  #mainNav.navbar-shrink .nav-link:active {
    color: #fff;
  }

  #mainNav.navbar-shrink .nav-link.active {
    color: #fff;
    outline: none;
    border-bottom: 0.25rem solid #fff;
  }

}

.header {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;

  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616));
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%);

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  overflow: hidden;
}

.header h1 {
  font-family: 'Varela Round';
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.header h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .header h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

 


}
@media (max-width: 768px) {

 #hdxChart .col2{
    display: block;
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .col1,
  .col1.infobox
  {
      width: 100%;
      margin-right: 20px;
      margin-bottom: 20px;
      float: left;
     
  }
}
@media (max-width:360px) {
  #hdxChart .col2 {
    display: block;
    width: 100%;
    float: none;
    margin-right: 0;
  }
}


@media (min-width: 992px) {
  .header {
    height: 100vh;
    padding: 0;
  }

  .header h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }

  .header h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
 
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #FA575C;
}

.btn-primary:hover {
  background-color: #FA575C;
}

.btn-primary:focus {
  background-color: #FA575C;
  color: white;
}

.btn-primary:active {
  background-color: #FA575C !important;
}

.introduction-section {
  padding-top: 10rem;
  background: #fff;

}

.introduction-section p {
  margin-bottom: 5rem;
}

.protracted-crisis-section {
  padding-top: 10rem;

}

.protracted-crisis-section p {
  margin-bottom: 5rem;
}

.protracted-crisis-section .btn {
  margin-bottom: 5rem;
}

.impact-protracted-crisis-section {
  padding-top: 5rem;
  background: #fff;
  margin: 0 15px 5px;
}

.impact-protracted-crisis-section p {
  margin-bottom: 5rem;
}

.opportunity-for-improve-section {
  padding-top: 10rem;
}

.opportunity-for-improve-section p {
  margin-bottom: 5rem;
}
.opportunity-for-improve-section .big-photo{
  margin-bottom: 5rem;
}
.opportunity-for-improve-section .big-photo p{
  margin-bottom: 1rem;
 }
.opportunity-for-improve-section .btn {
  margin-top: 5rem;
}
#cumulative-apppeal a {
  text-transform: uppercase;
  font-family: 'Varela Round';
  font-size: 14px;
  font-weight: 700;
}


.hdxChart{
  padding-top: 5rem;
}
.resources-section {
  padding-top: 10rem;
}

.resources-section p {
  margin-bottom: 5rem;
}



@media (min-width: 992px) {
  .impact-protracted-crisis-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #FA575C;
  }
  .impact-protracted-crisis-section .featured-text2 {
    padding: 0 0 0 2rem;
    border-bottom: 0.5rem solid transparent;
    
  }
 
}

.impact-protracted-crisis-section .protracted-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .impact-protracted-crisis-section .protracted-text {
    padding: 5rem;
  }

  .impact-protracted-crisis-section .protracted-text hr {
    border-color: #FA575C;
    border-width: .25rem;
    width: 30%;
  }

}

.footer-section {

  padding: 10rem 0;
  background-color: #363636;
  color: rgb(255, 255, 255);
  margin-top: 40px;



}

.resources-section {
  padding: 5rem 0 0;
}

.resources-section .card {
  background: #FAFAFA;

  position: relative;


  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  cursor: pointer;

}

.resources-section .card:hover {
  background: linear-gradient(to right, #FA575C17 0%, #FA575C2b 51%, #FA575C36 100%);
}

.resources-section .card:after {
  display: block;
  background: #2196F3;
  border-top: 2px solid #FA575C;
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.resources-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.resources-section .card hr {
  border-color: #FA575C;
  border-width: 0.25rem;
  width: 3rem;
}

.footer-section .social {
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: #fff;
  border-radius: 100%;
  line-height: 3rem;
  color: #FA575C;
}

.footer-section .social a:hover {
  color: rgba(207, 53, 53);
}

.footer-section .social a:active {
  color: #fff;
}


.protracted-section {
  padding: 5rem 0 0;
}

.improve-humanitarian-action {
  padding: 5rem 0 0;
}

body {
  font-family: 'Varela Round';
  letter-spacing: 0.0625em;
}

a {
  color: #FA575C;
  cursor: pointer;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #3c6360;
}
h2 {
  font-size: 42px;
  line-height: 46px;
  font-weight: 900;
  text-transform: uppercase;
  color: #FA575C;
  font-family: 'Varela Round'
  
}
h2:before {
  content: '';
  display: block;
  height: 5px;
  width: 200px;
  background-color:#FA575C;
  position: relative;
  left: 50%;
  margin-left: -100px;
  margin-bottom: 10px;
}
h4{
  text-transform: uppercase;
}
.bg-black {
  background-color: #161616 !important;
}

.bg-shade {
  background-color: #efefef !important;
}

.bg-whdt {
  background-color: #FA575C !important;
}

.bg-primary {
  background-color: #FA575C !important;
}

.text-primary {
  color: #FA575C !important;
}
.hdxChart h4 {
  text-transform: uppercase;
  font-family: 'Varela Round';
  font-size: 16px;
  padding-bottom: 5px;
  font-weight: 700;
  border-bottom: 1px solid rgba(232, 83, 86, 1)
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
.wrapper {
  padding: 25px;
  max-width: 1500px;
  margin: 0 auto;
}
.col2 {
  width: calc(50% - 40px);
  margin-right: 80px;
}

.col2 .col2 {
  width: calc(50% - 10px);
  margin-right: 20px;
}
.col1 {
  width: 90%;
  margin-right: 40px;
}
.col1.infobox {
  width: 100%;
  margin: 0;
  padding: 0 20px;
  border-right: 1px dotted rgb(128, 128, 128);
}
div.col2:last-of-type {
  margin-right: 0px;
}
p.sources {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: rgb(100, 100, 100);
  padding-top: 10px;
  margin-bottom: 0px;
  border-top: 1px solid rgba(232, 83, 86, 1);
  margin-top: 30px;
  text-align: left;
}

footer {
  padding: 5rem 0;
}


/*----- TABLES ------*/

table {
  border: 0;
  border-collapse: collapse;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(120, 120, 120);
  font-size: 18px;
  margin-top: 30px;
}

a.toggle {
  color: rgb(182, 188, 192);
  font-weight: 700;
  font-size: 22px;
  line-height: 20px;
  display: block;
  float: right;
  margin-left: 5px;
  text-decoration: none;
}

a.toggle:hover {
  color:#FA575C;
  cursor: pointer;
}

a.toggled {
  color: rgb(232, 83, 86);
  font-size: 26px;
  line-height: 20px;
}

td {
  padding: 5px;
  text-align: right;
}

.header-row td {
  border-top: 4px solid#FA575C;
  border-bottom: 4px solid#FA575C;
}

.header-row td h2,
.header-row td span {
  margin: 0;
  color:#FA575C;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Varela Round';
}

td.country-name {
  width: 24.616%;
}

td.ft-requirements {
  width: 13.475%;
}

td.ft-fundingamount {
  width: 8.652%;
}

td.percentagebar {
  width: 44.44%;
  padding-left: 20px;
}

td.ft-percentagefigure {
  width: 7.817%;
  font-family: 'Varela Round';
  font-weight: 700;
  color: rgb(232, 83, 86);
}

.outerbar {
  width: 100%;
  height: 16px;
  background: rgb(182, 188, 192);
}

.innerbar {
  height: 100%;
  background: #FA575C;
}
.table-info, .table-info>td, .table-info>th  {

  background-color: transparent !important;
}
.table-info td {
  position: relative;
  padding: 0 0 0 0;
}

.table-info .content-info {
  background: rgb(228, 234, 244);
  padding: 30px 20px;
  display:flex;
}

.table-info .row {
  margin-left: 0;
  margin-right: 0;
}

.table-info .content-info:before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgb(228, 234, 244);
  top: 0;
  left: 29.85%;
  transform: rotate(45deg);
}

.table-info h2 {
  text-align: left;
  text-transform: none;
  font-family: 'Varela Round';
  font-size: 32px;
  line-height: 36px;
  font-weight: 900;
  color:#FA575C;
  margin-top: 0;
}

.table-info h3 {
  font-weight: 700;
  color:#FA575C;
  text-transform: uppercase;
}

.table-info p {
  text-align: left;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
}

.table-info a.donatebutton-bottom {
  float: left;
  font-size: 18px;
  margin-right: 5px;
}

.content-info {
  margin-bottom: 30px;
  margin-top: 5px;
}

#funding-section .table-info p.figure {
  text-align: center;
  font-family: 'Varela Round';
  color: rgb(182, 188, 198);
}

/*------ FRAPPE -----*/
.graph-svg-tip.comparison * {
	font-family:'Roboto Condensed', sans-serif;
}
.graph-svg-tip.comparison .data-point-list, .graph-svg-tip.comparison .title {
	color:rgb(255,255,255);
	text-align:center;
}
.graph-svg-tip.comparison .title {
	font-size:18px;
}
.graph-svg-tip.comparison .data-point-list strong {
	font-family:'Varela Round';
	font-size:22px;
	display:block;
	margin:5px 0;
	color:rgb(232, 83, 86);
}
#frappe-chart1 .chart-container .path-group path {
	stroke-width:6px;
}